<div class="content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{ ('ACTIVITY-FORM.' + (action === actions.CREATE ? 'create-new-habit' : 'edit-habit')) | translate }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="nameValue" [label]="'ACTIVITY-FORM.name' | translate" labelPlacement="floating" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-checkbox [disabled]="disableTaskEdition" [(ngModel)]="includeTasks"></ion-checkbox>
          <ion-label>{{'ACTIVITY-FORM.include-tasks' | translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="includeTasks">
      <ion-col>
        <ion-item>
          <ion-input [disabled]="disableTaskEdition" [(ngModel)]="taskName" [label]="'ACTIVITY-FORM.task' | translate" labelPlacement="floating"></ion-input>
          <ion-button [disabled]="disableTaskEdition" (click)="addTask()" slot="end" fill="clear">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    @for (task of currentTasks; track task.id) {
      <ion-row>
        <ion-col>
          <ion-item button [detailIcon]="false">
            <ion-label (click)="disableTaskEdition ? null : editTask(task)">{{ task.title }}</ion-label>
            <ion-button (click)="disableTaskEdition ? null : deleteTask(task.id)" slot="end" fill="clear">
              <ion-icon color="danger" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    }
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="saveActivity()" size="large">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>{{'COMMON.save' | translate}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
