<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col size="8">
        <ion-card-title (click)="edit.emit()"
          >{{ activity?.title }} <ion-icon color="medium" class="pencil-icon" name="pencil"></ion-icon
        ></ion-card-title>
      </ion-col>
      <ion-col class="counter" size="4">
        <ion-icon
          [name]="activity?.status === 'pending' ? 'flame-outline' : 'flame'"
          [color]="activity?.status === 'pending' ? 'medium' : 'warning'"
        ></ion-icon>
        <ion-label [color]="activity?.status === 'pending' ? 'medium' : 'warning'"
          >{{ activity?.streak }} {{ ('ACTIVITY-CARD.' + (activity?.streak !== 1 ? 'days' : 'day')) | translate }}</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-card-subtitle [color]="activity?.status === 'pending' ? 'danger' : 'success'"
      >{{ 'STATUS.' + activity?.status | translate }}
      @if (activity?.tasks) {
        {{ progress }} %
        <ion-progress-bar [value]="progress / 100"></ion-progress-bar>
      }
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      @if (activity?.tasks) {
        <ion-row>
          <ion-col>
            <ion-label>{{'COMMON.tasks' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              @for (task of activity?.tasks; track task.id) {
                <ion-item>
                  <ion-checkbox
                    [disabled]="activity.status === 'completed' && progress >= 100"
                    [checked]="task?.completed"
                    color="success"
                    (ionChange)="onTaskChange($index, $event)"
                  >
                    {{ task?.title }}
                  </ion-checkbox>
                </ion-item>
              }
            </ion-list>
          </ion-col>
        </ion-row>
      }
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="delete.emit()" color="danger" fill="clear">
            <ion-icon slot="start" name="trash"></ion-icon>
            <ion-label>{{'COMMON.delete' | translate}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="flex-end" size="6">
          <ion-button
            [disabled]="activity?.status === 'completed' || progress < 100"
            (click)="completeEvent.emit()"
            [color]="activity?.status === 'pending' ? 'primary' : 'medium'"
          >
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            <ion-label>{{ ('COMMON.'  + (activity?.status === 'pending' ? 'complete' : 'completed')) | translate }}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<div *cdkDragPlaceholder>
  <h1 color="#fff">Placeholder</h1>
</div>
