<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Mis habitos</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-activity-card [activity]="activity" *ngFor="let activity of activities"></app-activity-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex-col">
        <ion-button size="large">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>