<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title">Mis habitos</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-activity-card [activity]="activity" *ngFor="let activity of activities; index as ind"
          (edit)="enableEditMode(activity)" (delete)="deleteActivity(activity?.id)"
          (complete)="completeActivity(ind)"></app-activity-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" id="open-modal" size="large">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-modal (onDidDismiss)="resetForm()" #form trigger="open-modal" cssClass="auto-height" [backdropDismiss]="true">
  <ng-template>
    <div class="content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>{{!activityBeingEdited ? 'Crear nuevo habito' : 'Editar Habito'}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input [(ngModel)]="nameValue" label="Nombre" labelPlacement="floating" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="addActivity()" size="large">
              <ion-icon slot="start" name="add"></ion-icon>
              <ion-label>Guardar</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-modal>