.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

ion-footer ion-toolbar {
  --border-style: none;
  --background: transparent;
}

.empty-text {
  margin: 35vh 1rem 1rem 1rem;
  text-align: center;
  color: var(--ion-color-medium);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview{
  opacity: 0.75;
}