<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title">{{'HOME.my-habits' | translate}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <div cdkDropList (cdkDropListDropped)="onItemDrop($event)">
        @for( activity of activities; track activity.id;) {
        <div cdkDrag [cdkDragStartDelay]="100">
          <app-activity-card
            [activity]="activity"
            (edit)="openActivityForm(action.EDIT, activity)"
            (delete)="deleteActivity(activity?.id)"
            (completeEvent)="completeActivity($index)"
          >
        </app-activity-card>
        <div *cdkDragPlaceholder style="min-height: 200px;">
          <ion-card color="warning" style="min-height: 200px;"></ion-card>
        </div>
        </div>
        } @empty {
        <h1 class="empty-text">No has agregado ninguna actividad</h1>
        }
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="openActivityForm(action.CREATE)" size="large">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>